# created by virtualenv automatically
bin
lib
.idea
lect
sem
__pycache__
HW/hw_project/media
HW/hw_project/log/django.log
HW/hw_project/db.sqlite3
notice.txt
pyvenv.cfg
.DS_Store
/HW/hw_project/log/
*.sqlite3
*.pyc